@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-5 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-5 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box3-1c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1c .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1c .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
}












#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-4 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-4 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
}
#header3-q H3 {
  text-align: center;
}
#image2-r SMALL {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
}
#msg-box3-1e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1e .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1e .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
  font-size: 14px;
  text-align: right;
}
#image2-v SMALL {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
}
#image2-w SMALL {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
}
#msg-box4-18 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-18 .mbr-article {
  color: #ffffff;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1h .mbr-article P {
  text-align: center;
  color: #c1c1c1;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1h .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
  font-size: 14px;
  text-align: right;
}
#msg-box3-1i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1i .mbr-article P {
  text-align: center;
  color: #c1c1c1;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1i .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
  font-size: 14px;
  text-align: right;
}
#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1g .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
}










#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-5 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-5 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
}
#header3-h H3 {
  text-align: center;
}
#image2-i SMALL {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #c1c1c1;
}
#msg-box4-k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#msg-box4-k .mbr-article P {
  color: #c1c1c1;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#msg-box3-1j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1j .mbr-article P {
  text-align: center;
  color: #c1c1c1;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1j .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
  font-size: 14px;
  text-align: right;
}
#image2-m SMALL {
  color: #c1c1c1;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1k .mbr-article P {
  text-align: center;
  color: #c1c1c1;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1k .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c1c1c1;
  font-size: 14px;
  text-align: right;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1d .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1d .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
}



#header3-17 H3 {
  text-align: center;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-11 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-11 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
}
#form1-12 .mbr-header__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}
#social-buttons2-14 .mbr-header__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}





#menu-15 .mbr-brand__name {
  font-size: 16px;
}
#menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-15 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-15 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
}
#header3-16 H3 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .mbr-article P {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1b .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box3-1b .mbr-article {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
}
